h1,
h2 {
  margin: 30px 0;
  text-align: center;
}

h1 {
  color: #72035D;
  letter-spacing: -0.02em;
  line-height: 135%;
}

h2 {
  font-weight: 400;
  line-height: 150%;
}

.grid {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}

.input {
  width: 278px;
}